// ----------
// About modal
// ----------

.about-overlay
  opacity 0
  position absolute
  pointer-events none
  visibility hidden
  z-index 2

  +bp('M')
    z-index 0

#aboutSwitch
  +bp('mM')
    position relative

  span
    display block

.about
  opacity 0
  position absolute
  pointer-events none
  text-align left
  white-space normal

  +bp('mM')
    bottom $let*2.5em
    right 0
    z-index 4

  +bp('M')
    bottom $let*3em
    left 0
    overflow-y scroll
    overflow-x hidden
    -webkit-overflow-scrolling touch
    pad(8,1.5,2)
    padding-top (((720/1780)*420)/750)*100vw
    position fixed
    top 0
    width 100%
    z-index 4

  &-open
    pointer-events all

  .profile
    +bp('mM')
      bottom 0
      overflow hidden
      position absolute
      pointer-events none
      top 0
      right 100%

      &-img
        display block
        height 100%
        max-width none
        transform-origin left top
        width auto

  &-copy
    +bp('mM')
      pad(0,1.5,5)

    h2
      fs(16)
      font-weight bold
      mgn(0,0,1)

      +bp('M')
        font-size 1em
        mgn(1,0)

    p
      fs(14.26)
      font-weight 500
      line-height 1.2
      max-width (393/14.26)*1em

      +bp('M')
        font-size 1em

  &-close
    color $w
    cursor pointer
    display block
    fs(44)
    font-weight $weight
    line-height .62
    margin 0
    outline 0
    padding 0
    position absolute
    right 0
    top 0
    transform rotate(45deg)
    z-index 10

    +bp('mM')
      right $gut*3.5rem

    +bp('M')
      top $let*3.5rem
      right $gut*1rem
