// ----------
// Copy
// ----------

.preloader
  left 0
  text-align center
  transform translate3d(0,-50%,0)
  position absolute
  pointer-events none
  top 50%
  width 100%
  z-index 0

  &-logo
    display inline-block
    mgn(1,0)
    width $gut*12em

    +bp('M')
      display none

  p
    font-weight 500
    mgn(0,auto)
    max-width 14em

  .headphones
    mgn(1,auto)
    width $gut*1.5em
