// ----------
// Lettering
// ----------

.lettering
  left 0
  position absolute
  z-index 3

  +bp('mM')
    bottom $let*5em
    left (30/1920)*100vw
    width auto

  +bp('M')
    right 0
    top 0

.wordmark
  opacity 0

  +bp('mM')
    width (580/1920)*100vw

  +bp('M')
    mgn(0,auto)
    height (((720/1780)*420)/750)*100vw
