// ----------
// Monogram
// ----------

.monogram
  font-weight 500
  opacity 0
  position relative
  z-index 1

  +bp('mM')
    align-items flex-end
    bottom 0
    display flex
    left (170/1920)*100vw
    justify-content space-between
    position absolute

  +bp('M')
    left 0
    pad(.5,1)
    position fixed
    text-align center
    right 0
    top (((720/1780)*420)/750)*100vw

  p a
    font-weight bold

  &-icon
    display inline-block
    height $let*2em
    mgn(1,0)
    width auto

  &-copy
    +bp('mM')
      pad(0,0,2.5)

    .play
      display block
      pad(1,1)

      &::after
        content '\f488'
        display inline-block
        font-family 'Ionicons'
        font-size 20px
        font-style normal
        font-weight normal
        font-variant normal
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
        line-height $lh*1px
        speak none
        text-indent 0
        text-rendering auto
        text-transform none
        vertical-align bottom
        width 20px

      &.paused
        &::after
          content '\f478'

      &-icon
        +bp('mM')
          bottom 50%
          pad(0,2)
          position fixed
          text-align right
          right 0

      &-info
        pad(0,1)

        h3
          color $pink

        +bp('M')
          display none


.logo-mobile
  mgn(0,auto,.5)
  width (418/750)*100vw

  +bp('mM')
    display none

.mute-wrap
  bottom 0
  left 50%
  opacity 0
  position absolute
  transform translate3d(-50%,0,0)

  +bp('M')
    display none

  span
    pad(0,.5)

@import '_mute'
