// ----------
// Mute
// ----------

.mute
  &::after
    content "\f4ce"
    display inline-block
    font-family "Ionicons"
    font-size 30px
    font-style normal
    font-weight normal
    font-variant normal
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    line-height $lh*1px
    speak none
    text-align left
    text-indent 0
    text-rendering auto
    text-transform none
    vertical-align bottom
    width 20px

    +bp('mM')
      content none

  &.muted
    &::after
      content "\f4cf"

  display inline-block
  pad(2,.5,2.5)
  transition color .2s linear

  &.active
    color $w

  &.inactive
    color $prpl
