// ----------
// Social
// ----------

.nav
  bottom 0
  position absolute
  z-index 4

  +bp('mM')
    right 0

  +bp('M')
    left 0
    width 100%

.social
  +bp('mM')
    bottom 0
    position absolute
    right 0

  &-ul
    white-space nowrap

    +bp('mM')
      pad(0,2,0,0)
      text-align right

    +bp('M')
      display flex
      pad(0,1.5)
      justify-content space-between

  &-li
    opacity 0

    +bp('mM')
      display inline-block
      vertical-align bottom

      &:last-child
        .social-a
          font-weight bold

    +bp('M')
      &:last-child
        display none

  &-a
    display block
    font-weight 500
    outline 0
    pad(1,0)
    text-align center
    text-transform uppercase
    transition opacity .2s linear

    +bp('mM')
      pad(2.5,1.5)

    +bp('M')
      z-index 1
