// ----------
// Content
// ----------

#skip-to
  //

#container
  position fixed
  z-index 0

.overlay, .about-overlay
  background $bg
  height 100%
  left 0
  position fixed
  top 0
  width 100%
  z-index 1

.ui
  bottom 0
  left 0
  position fixed
  right 0
  top 0
  text-transform uppercase
  z-index 2

  +bp('M')
    text-align center
