// ----------
// Core type
// ----------

h1, h2, h3, h4, p
  font-size 1em
  line-height $let
  margin 0


// ----------
// Modifers
// ----------

// strong, b
//   font-weight $bold
//   letter-spacing normal

// em, i
//   font-style italic

// sup
//   font-size smaller
//   vertical-align top
