// ----------
// Ionicons
// ----------

@font-face
  font-family "Ionicons"
  src url("/static/fonts/ionicons.eot")
  src url("/static/fonts/ionicons.eot#iefix") format("embedded-opentype"),
		url("/static/fonts/ionicons.ttf") format("truetype"),
		url("/static/fonts/ionicons.woff") format("woff"),
		url("/static/fonts/ionicons.svg") format("svg")
  font-weight normal
  font-style normal


// ----------
// Calibre
// ----------

@font-face
	font-family 'Calibre'
	src url('/static/fonts/Calibre-Regular.eot')
	src url('/static/fonts/Calibre-Regular.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Calibre-Regular.woff2') format('woff2'),
		url('/static/fonts/Calibre-Regular.woff') format('woff'),
		url('/static/fonts/Calibre-Regular.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face
	font-family 'Calibre'
	src url('/static/fonts/Calibre-Light.eot')
	src url('/static/fonts/Calibre-Light.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Calibre-Light.woff2') format('woff2'),
		url('/static/fonts/Calibre-Light.woff') format('woff'),
		url('/static/fonts/Calibre-Light.ttf') format('truetype')
	font-weight 300
	font-style normal

@font-face
	font-family 'Calibre'
	src url('/static/fonts/Calibre-Medium.eot')
	src url('/static/fonts/Calibre-Medium.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Calibre-Medium.woff2') format('woff2'),
		url('/static/fonts/Calibre-Medium.woff') format('woff'),
		url('/static/fonts/Calibre-Medium.ttf') format('truetype')
	font-weight 500
	font-style normal

@font-face
	font-family 'Calibre'
	src url('/static/fonts/Calibre-Bold.eot')
	src url('/static/fonts/Calibre-Bold.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Calibre-Bold.woff2') format('woff2'),
		url('/static/fonts/Calibre-Bold.woff') format('woff'),
		url('/static/fonts/Calibre-Bold.ttf') format('truetype')
	font-weight bold
	font-style normal
