<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>Frank Walker</title>
<link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">
<link rel="stylesheet" href="{% static '/css/nightfuel.css' %}">
</head>
<body>
<div id="container"></div>
<div id="overlay" class="overlay"></div>
<div id="ui" class="ui">
<div id="copy" class="preloader">
<img src="{% static '/images/fw-wordmark.png' %}" class="preloader-logo">
<p>Put your headphones on for the best experience</p>
<img src="{% static '/images/headphones.png' %}" class="headphones" alt="Headphones on">
</div>
<div class="monogram">
<div class="monogram-copy">
<p>New music coming March 24th</p>
<p>Stay tuned for more info</p>
<p><a href="//www.instagram.com/explore/tags/frankwalker/" target="_blank" title="#FrankWalker">#FrankWalker</a></p>
<div class="play-icon">
<a href="#" class="play" id="play" title="Play"></a>
<div class="play-info">
<h2>Young (Original Mix)</h2>
<h3>Frank Walker</h3>
</div>
</div>
</div>
</div>
<div class="mute-wrap social-nomobile">
<span>Sound</span>
<a href="#" id="unmute" class="mute active" title="Sound on">On</a>
<a href="#" id="mute" class="mute inactive" title="Sound off">Off</a>
</div>
<div class="about-overlay"></div>
<div class="lettering">
<img src="{% static '/images/fw-wordmark.png' %}" class="wordmark">
</div>
<div id="about" class="about">
<div class="about-wrap">
<div class="profile">
<img src="{% static '/images/fw-profile.jpg' %}" class="profile-img">
</div>
<div class="about-copy">
<h2>About Frank</h2>
<p>A ground-breaking producer rapidly gaining notoriety as electronic music's next colossal player. The 25-year-old is on the brink of an unprecedented year; Frank is already slated to be center stage at shows and festivals across North America and Europe. His long awaited debut EP “24” stands scheduled for a hugely anticipated Spring 2017 release, with leading industry tastemakers already backing the project launch.</p>
</div>
</div>
<a href="#" class="about-close" id=aboutClose>+</a>
</div>
<div id="nav" class="nav">
<ul class="social-ul">
<li class="social-li">
<a href="#" id="aboutSwitch" class="social-a" target="_blank" title="About"><span>About</span></a>
</li>
<li class="social-li">
<a href="//www.facebook.com/FrankWalkerMusic/" class="social-a" target="_blank" title="Frank Walker Music on Facebook">Facebook</a>
</li>
<li class="social-li">
<a href="//www.instagram.com/frankwalkermusic/" class="social-a" target="_blank" title="See Instagram photos and videos from Frank Walker">Instagram</a>
</li>
<li class="social-li">
<a href="//open.spotify.com/artist/6rcE30MaP92XafelMNZ2Sq" class="social-a" target="_blank" title="Play Frank Walker on Spotify">Spotify</a>
</li>
<li class="social-li social-nomobile">
<a href="//www.instagram.com/explore/tags/frankwalker/" class="social-a" target="_blank" title="Find #FrankWalker tags on Instagram">#FrankWalker</a>
</li>
</ul>
</div>
</div>
<script src="{% static '/js/TweenMax.min.js' %}"></script>
<script src="{% static '/js/three.min.js' %}"></script>
<script src="{% static '/js/nightfuel.js' %}"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-78236666-18', 'auto');
ga('send', 'pageview');
</script>
</body>
</html>
